/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20/06/2016, 21:19:42
    Author     : dijalma
*/

* {
    margin: 0;
    padding: 0
}

body {
    color: white;
}

.form-control-sm {
    text-align: left;
    width: 400px;
    margin: 0 auto;
}

header {
    position: fixed;
    background: #fcfcfc;
    width: 100%;
    height: 100px;
    box-shadow: 0px 0px 4px -2px #000;
}

.imgPerfil {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 10px;
}

.imgCadastro{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin: 4px;
}

#sair {
    position: relative;
    top: -50px !important;
    margin: 10px;
}

.functionsUser {
    text-align: center;
    background: #ffb74d;
    padding: 10px;
    width: 20%;
    height: 570px;
}

.conteudo {
    text-align: center;
    top: 20px;
    width: 80%;
    height: 700px;
    overflow-y: auto;
    position: fixed;
    float: right;
    right: 0px;
    margin-top: 80px !important;
}

#criaGrupo {
    position: relative;
    top: -30px;
}

#notification {
    position: fixed;
    width: 100%;
    bottom: 40px;
}

.modal-notification {
    background: #F3F3F3;
    margin: 0 auto;
    width: 400px;
    padding: 8px;
    box-shadow: 0px 0px 6px -1px #000;
    border-radius: 5px;
    text-align: center;
}

.invisible {
    display: none;
}

.background-gradient {
    background: linear-gradient(to right, #ff9800 , #ffa726);
}

#modal-login {
    width: 60%;
    min-width: 300px;
    max-width: 450px;
    height: auto;
    margin: 0 auto;
    background: #FFFFFF;
    border-radius: 3px;
}

.modal-login-header{
    padding-top: 2px !important;
}

#modal-login form{
    margin: 0 auto;
    width: 97%;
}

form div {
    margin: 2px;
}

.line-logo {
    margin: 0 auto;
    min-width: 300px;
    max-width: 450px;
    width: 60%;
}

.z-index-2 {
    box-shadow: 0 0 20px 1px #000;
    z-index: 5;
}

.z-index-1 {
    box-shadow: 0 0 10px 1px #000;
    z-index: 4;
}

.modal-cadastro{
    padding: 4px;
    min-width: 300px;
    max-width: 450px;
    width: 60%;
    margin: 0 auto;
    background: #F3F3F3;
}