/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20/06/2016, 21:19:42
    Author     : dijalma
*/

* {
    margin: 0;
    padding: 0
}

.form-control-sm {
    text-align: left;
    width: 400px;
    margin: 0 auto;
}

header {
    position: fixed;
    background: #fcfcfc;
    width: 100%;
    height: 100px;
    box-shadow: 0px 0px 4px -2px #000;
}

#imgPerfil {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 10px;
}

#sair {
    position: relative;
    top: -50px !important;
    margin: 10px;
}

.functionsUser {
    text-align: center;
    background: #F3F3F3;
    padding: 10px;
    width: 20%;
    height: 570px;
}

.conteudo {
    text-align: center;
    top: 20px;
    width: 80%;
    height: 700px;
    overflow-y: auto;
    position: fixed;
    float: right;
    right: 0px;
    margin-top: 80px !important;
}

#criaGrupo {
    position: relative;
    top: -30px;
}

#notification {
    position: fixed;
    width: 100%;
    bottom: 40px;
}

.modal-notification {
    background: #F3F3F3;
    margin: 0 auto;
    width: 400px;
    padding: 8px;
    box-shadow: 0px 0px 6px -1px #000;
    border-radius: 5px;
    text-align: center;
}

.invisible {
    display: none;
}